body {
    margin: 0;
    background: #000;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}
h1, h2 {
    font-weight: 700;
}
p {
    opacity: 0.9;
    line-height: 1.5;
}

/*HEADER MAIN CSS*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background: black;
    position: fixed;
    width: 94%;
    z-index: 1000;
}

header nav a {
    margin-left: 30px;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}
.highlight {
    color:cyan;
}
/*----------------------------------------*/

/*ABOUT MAIN CSS*/
.about{
    padding: 70px 70px;
    padding-top: 100px;
}
.AboutHeader h1 {
    font-size: 60px;
    margin-bottom: 10px;
}

.AboutHeader p {
    font-size: 30px;
    margin-bottom: 30px;
}

.AboutDisplay {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 60px;
    margin-bottom: 120px;
}
.AboutPara {
    width: 70%;
    max-width: 600px; 
}
.AboutPara p{
    font-size: 20px;
}
.AboutPara h2 {
    font-size: 35px;
    margin-bottom: 20px;
}
.aboutImg {
    width: 100%;
    max-width: 500px;
    height: auto;
    border-radius: 8px;
}
.reverse {
    flex-direction: row-reverse;
}

/*----------------------------------------*/

/*BUTTON CSS*/
.button {
    border: 1px solid #fff;
    padding: 12px 25px;
    border-radius: 8px;
    color: #fff;
    font-size: 20px;
    text-decoration: none;
}
/*----------*/

/* FOOTER SECTION */
.Container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.contactMain {
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.contactSocials {
    display: flex;
    align-items: center;
    gap: 50px;
    font-size: 26px;
    padding-right: 50px;
}
footer {
    text-align: center;
    padding: 25px;
    opacity: 0.7;
}
/*----------------------------------------*/