body {
    margin: 0;
    background: #000;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}
h1, h2 {
    font-weight: 700;
}
p {
    opacity: 0.9;
    line-height: 1.5;
}


/*HEADER MAIN CSS*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background: black;
    position: fixed;
    width: 94%;
    z-index: 1000;
}
header nav a {
    margin-left: 30px;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}
.highlight {
    color:cyan;
}
/*----------------------------------------*/

/* CONTACT HEADER CSS */
.contactPage {
    padding: 33px 70px;
    padding-top: 100px;
}
.contactPage h1 {
    font-size: 60px;
    margin-bottom: 10px;
}
.contactPage p {
    font-size: 30px;
    margin-bottom: 30px;
}
/*----------------------------------------*/

/* CONTACT MAIN CSS */
.contactContent {
    display: flex;
    justify-content: space-between;
    gap: 80px;
}
.contactForm {
    width: 50%;
}
.contactForm h2 {
    font-size: 25px;
    margin-bottom: 20px;
}

/* TEXT INPUT */
.contactInput{
    width: 100%;
    background: #1a1a1a;
    border: 1px solid #333;
    padding: 15px;
    font-size: 15px;
    color: #fff;
    border-radius: 8px;
    margin-bottom: 15px;
}
.textarea {
    height: 150px;
    resize: none;
}

/* SEND BUTTON */
.contactButton {
    width: 100%;
    padding: 12px;
    background: #fff;
    color: #000;
    border: none;
    border-radius: 8px;
    font-size: 20px;
    cursor: pointer;
}
/*----------------------------------------*/


/* CONTACT INFO */
.contactInfo {
    width: 40%;
}
.contactInfo h2 {
    font-size: 25px;
    margin-bottom: 20px;
}
.infoRow {
    display: flex;
    align-items: flex-start;
    gap: 15px;
    margin-bottom: 30px;
}
.infoRow p {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 20px;
}
.infoIcon {
    width: 30px;
}
/*----------------------------------------*/

/* FOOTER SECTION */
.Container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 50px;
}
.contactMain {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.contactSocials {
    display: flex;
    align-items: center;
    gap: 50px;
    font-size: 20px;
    padding-right: 50px;
}
.FooterIcon{
    width: 30px;
    opacity: 0.9;
}
footer {
    text-align: center;
    padding: 25px;
    opacity: 0.8;
}
/*----------------------------------------*/