/* =========================================
   GLOBAL STYLES
========================================= */
body {
    margin: 0;
    background: #000;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}
h1, h2, h3 {
    font-weight: 700;
}
p {
    line-height: 1.5;
}

/* BUTTONS */
.button {
    border: 1px solid #fff;
    padding: 12px 25px;
    border-radius: 8px;
    color: #fff;
    font-size: 20px;
    text-decoration: none;
}

/* =========================================
   HEADER
========================================= */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background: black;
    position: fixed;
    width: 94%;
    z-index: 1000;
}
header nav a {
    margin-left: 30px;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}
.highlight {
    color:cyan;
}

/* =========================================
   INTRO SECTION (HOME)
========================================= */
.intro {
    padding: 150px 50px 70px 50px;
    background-image:
        linear-gradient(to bottom, rgba(0,0,0,0) 40%, rgba(0,0,0,1) 95%),
        url("BackgroundHome.jpg");
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
}
.intro h1 {
    font-size: 60px;
    margin-bottom: 20px;
}
.intro p {
    font-size: 20px;
}
.introButtons {
    display: flex;
    margin-top: 30px;
    gap: 20px;
}

/* =========================================
   ABOUT SECTION (HOME)
========================================= */
.about {
    padding: 70px 50px;
    display: flex;
    align-items: flex-start;
    gap: 400px;
}
.aboutMain h2 {
    font-size: 40px;
}
.aboutMain p {
    font-size: 20px;
    max-width: 450px;
    font-weight: bold;
}
.achievements h2 {
    text-align: center;
    font-size: 40px;
}
.achievImgContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 100px;
}
.AchvMilestones {
    border: 1px solid #fff;
    width: 120px;
    height: 120px;
    padding: 15px 20px;
    border-radius: 8px;
    background-color: #000;
    color: #fff;
    text-align: center;
    font-size: 18px;
}

/* =========================================
   PROJECTS SECTION (HOME)
========================================= */
.projects {
    padding: 70px 10px;
    text-align: center;
}
.projects h2 {
    font-size: 40px;
}
.projectContainer {
    display: flex;
    justify-content: space-between;
    gap: 15px;
}
.projectDisplay {
    margin-top: 30px;
}
.projectDisplay p {
    font-size: 25px;
    font-weight: bold;
    padding-bottom: 20px;
}

/* =========================================
   ABOUT SUB WEBPAGE
========================================= */

/*About Header CSS*/
.aboutPage {
    padding: 70px 50px;
    padding-top: 130px;
}
.AboutHeader h1 {
    font-size: 60px;
    margin-bottom: 10px;
}
.AboutHeader p {
    font-size: 30px;
    margin-bottom: 30px;
}
 

/*About Body CSS*/
.AboutDisplay {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    margin-bottom: 120px;
}
.AboutPara {
    width: 70%;
    max-width: 600px;
    flex: 1.2;
}
.AboutPara h2 {
    font-size: 32px;
    margin-bottom: 20px;
}
.aboutImageContainer {
    flex: 1;
    display: flex;
    justify-content: center;
}
.aboutImg {
    width: 420px;
    height: auto;
}
.reverse {
    flex-direction: row-reverse;
}

/* =========================================
   PROJECTS SUB WEBPAGE
========================================= */

/* PROJECTS HEADER SECTION */
.Projects{
    padding: 70px 70px;
    padding-top: 100px;
}
.ProjectHeader h1 {
    font-size: 60px;
    margin-bottom: 10px;
}
.ProjectHeader p {
    font-size: 30px;
    margin-bottom: 30px;
}


/* PROJECTS MAIN BODY SECTION */
.projectsContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
}
.projectDisplay {
    width: 30%;    
    min-width: 300px;  
    text-align: center;
    margin-top: 30px;
}
.projectDisplay p{
    font-size: 15px;
    padding-bottom: 20px;
    margin-left: 0px;
    margin-right: 0px;
}
.projectDisplay img {
    width: 100%;    
    height: 250px; 
    border-radius: 8px;
}

/* =========================================
   CONTACT SUB WEBPAGE
========================================= */
.contactPage {
    padding: 33px 70px;
    padding-top: 100px;
}
.contactPage h1 {
    font-size: 60px;
    margin-bottom: 10px;
}
.contactPage p {
    font-size: 30px;
    margin-bottom: 30px;
}
/* CONTACT MAIN CSS */
.contactContent {
    display: flex;
    justify-content: space-between;
    gap: 80px;
}
.contactForm {
    width: 50%;
}
.contactForm h2 {
    font-size: 25px;
    margin-bottom: 20px;
}

/* TEXT INPUT */
.contactInput{
    width: 100%;
    background: #1a1a1a;
    border: 1px solid #333;
    padding: 15px;
    font-size: 15px;
    color: #fff;
    border-radius: 8px;
    margin-bottom: 15px;
}
.textarea {
    height: 150px;
    resize: none;
}

/* SEND BUTTON */
.contactButton {
    width: 100%;
    padding: 12px;
    background: #fff;
    color: #000;
    border: none;
    border-radius: 8px;
    font-size: 20px;
    cursor: pointer;
}

/* CONTACT INFO */
.contactInfo {
    width: 40%;
}
.contactInfo h2 {
    font-size: 25px;
    margin-bottom: 20px;
}
.infoRow {
    display: flex;
    align-items: flex-start;
    gap: 15px;
    margin-bottom: 30px;
}
.infoRow p {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 20px;
}
.infoIcon {
    width: 30px;
}

/* =========================================
                 FOOTER
========================================= */
.Container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 50px;
}
.contactMain {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.contactSocials {
    display: flex;
    align-items: center;
    gap: 50px;
    font-size: 20px;
    padding-right: 50px;
}
.FooterIcon{
    width: 30px;
    opacity: 0.9;
}
footer {
    text-align: center;
    padding: 25px;
    opacity: 0.8;
}