body {
    margin: 0;
    background: #000;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}
h1, h2 {
    font-weight: 700;
}
p {
    opacity: 0.9;
    line-height: 1.5;
}


/*HEADER MAIN CSS*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background: black;
    position: fixed;
    width: 94%;
    z-index: 1000;
}

header nav a {
    margin-left: 30px;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}
.highlight {
    color:cyan;
}
/*----------------------------------------*/

/*BUTTON CSS*/
.button {
    border: 1px solid #fff;
    padding: 12px 25px;
    border-radius: 8px;
    color: #fff;
    font-size: 20px;
    text-decoration: none;
}
.buttonPRJ {
    border: 1px solid #fff;
    padding: 10px 20px;
    border-radius: 8px;
    color: #fff;
    font-size: 15px;
    text-decoration: none;
}
/*----------*/

/* PROJECTS HEADER SECTION */
.Projects{
    padding: 70px 50px;
    padding-top: 100px;
}

.ProjectHeader h1 {
    font-size: 50px;
    margin-bottom: 10px;
}

.ProjectHeader p {
    font-size: 20px;
    margin-bottom: 30px;
}
/*----------------------------------------*/

/* PROJECTS MAIN BODY SECTION */
.projectsContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
}

.projectDisplay {
    width: 30%;    
    min-width: 300px;  
    text-align: center;
    margin-top: 30px;
}

.projectDisplay p{
    font-size: 15px;
    padding-bottom: 20px;
    margin-left: 0px;
    margin-right: 0px;
}

.projectDisplay img {
    width: 100%;    
    height: 250px; 
    object-fit: cover;
    border-radius: 8px;
}

/*----------------------------------------*/

/* FOOTER SECTION */
.Container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.contactMain {
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.contactSocials {
    display: flex;
    align-items: center;
    gap: 50px;
    font-size: 26px;
    padding-right: 50px;
}
footer {
    text-align: center;
    padding: 25px;
    opacity: 0.7;
}
/*----------------------------------------*/