body {
    margin: 0;
    background: #000;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}
h1, h2 {
    font-weight: 700;
}
p {
    opacity: 0.9;
    line-height: 1.5;
}

/*HEADER MAIN CSS*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background: black;
    position: fixed;
    width: 94%;
    z-index: 1000;
}

header nav a {
    margin-left: 30px;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}
.highlight {
    color:cyan;
}
/*----------------------------------------*/

/*INTRO MAIN CSS*/
.intro {
    padding: 70px 50px;
    padding-top: 140px;
    height: 400px;
    background-image: 
        linear-gradient(to bottom, rgba(0,0,0,0) 40%, rgba(0,0,0,1) 95%),
        url("BackgroundHome.jpg");
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    z-index: 1;
}
.intro h1 {
    font-size: 60px;
    margin-bottom: 20px;
}
.intro p {
    font-size: 30px;
}
.introButtons {
    display: flex;
    margin-top: 30px;
    gap: 20px;
}
/*----------------------------------------*/

/*BUTTON CSS*/
.button {
    border: 1px solid #fff;
    padding: 12px 25px;
    border-radius: 8px;
    color: #fff;
    font-size: 20px;
    text-decoration: none;
}
/*----------*/

/* ABOUT SECTION */
.about {
    padding: 70px 50px;
    display: flex;
    align-items: flex-start; 
    gap: 400px;                     
}
.aboutMain h2 {
    font-size: 40px
}
.aboutMain p {
    font-size: 20px;
    max-width: 450px;
    font-weight: bold;
}
.achievements h2{
    text-align: center;
    font-size: 40px;
}
.achievImgContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 100px;
}
.AchvMilestones {
    border: 1px solid #fff;
    width: 120px;
    height: 120px;
    padding: 15px 20px 15px 20px;
    border-radius: 6px;
    background-color: #000000;
    color: #fff;
    text-decoration: none;
    text-align: center;
    font-size: 18px;
}
/*----------------------------------------*/

/* PROJECTS SECTION */
.projects {
    padding: 70px 10px;
    text-align: center;
}
.projects h2 {
    font-size: 40px;
}
.projectContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
}
.projectDisplay {
    width: 30%;    
    min-width: 300px;  
    text-align: center;
    margin-top: 30px;
}

.projectDisplay p{
    font-size: 25px;
    font-weight: bold;
    padding-bottom: 20px;
    margin-left: 0px;
    margin-right: 0px;
}

.projectDisplay img {
    width: 100%;    
    height: 250px; 
    object-fit: cover;
    border-radius: 8px;
}
/*----------------------------------------*/

/* CONTACTS SECTION */
.contact {
    padding: 80px 80px;
}

.contact h2 {
    font-size: 30px;
    margin-bottom: 30px;
}

.Container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.contactMain {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.ContactDetail {
    display: flex;
    align-items: center;
    gap: 10px;
}

.ContactDetail p {
    margin: 0;
    padding-left: 10px;
    font-size: 20px;
}

.contactSocials {
    display: flex;
    align-items: center;
    gap: 50px;
    font-size: 26px;
    padding-right: 50px;
    opacity: 0.7;
}
/*----------------------------------------*/

/*FOOTER MAIN CSS*/
footer {
    text-align: center;
    padding: 25px;
    opacity: 0.7;
}
/*----------------------------------------*/