body{
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
}
/* sets font family and magin*/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
}
/*creates a flex display for all the items in the header (logo and navigation bar)*/

nav {
    display: flex;
    flex-direction: row;
    gap: 20px;
}
/* creates another flex for the naviagtion buttions. 
Added a gap so the borders wont overlap with each other.  */



nav a {
    background-color: #e6e6e6;
    padding: 8px 14px;
    border-radius: 4px;
    text-decoration: none;
    color: black;
}
/* removed the hyperlink visuals by called none text decoration. Text color set to black.  */
/* added background, border and padding to each item (button)  */