body {
    margin: 0;
    background: #000;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

/*HEADER MAIN CSS*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 50px;
    background: #000;
}

header nav a {
    margin-left: 30px;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    opacity: 0.8;
    transition: 0.2s;
}
/*----------------------------------------*/


/*INTRO MAIN CSS*/
.intro {
    padding: 70px 50px;
    background-image: 
        linear-gradient(to bottom, rgba(0,0,0,0) 40%, rgba(0,0,0,1) 95%),
        url("BackgroundHome.jpg");
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    z-index: 1;
}
.intro h1 {
    font-size: 60px;
    margin-bottom: 20px;
}
.intro p {
    font-size: 20;
}
.introButtons {
    display: flex;
    margin-top: 30px;
    gap: 20px;
}
/*----------------------------------------*/


/*BUTTON CSS*/
.button {
    border: 1px solid #fff;
    padding: 12px 25px;
    border-radius: 8px;
    color: #fff;
    font-size: 20px;
    text-decoration: none;
}
/*----------*/

/* ABOUT SECTION */
.about {
    padding: 70px 50px;
    display: flex;
    align-items: flex-start; 
    gap: 400px;                     
}
.aboutMain h2 {
    font-size: 40px
}
.aboutMain p {
    font-size: 20px;
    max-width: 450px;
    font-weight: bold;
}
.achievements h2{
    text-align: center;
    font-size: 40px;
}
.achievImgContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 100px;
}
.AchvMilestones {
    border: 1px solid #fff;
    max-width: 100px;
    padding: 15px 25px;
    border-radius: 6px;
    background-color: #000000;
    color: #fff;
    text-decoration: none;
    text-align: center;
}
/*----------------------------------------*/

/* PROJECTS SECTION */
.projects {
    padding: 70px 50px;
    text-align: center;
}
.projects h2 {
    font-size: 40px;
}

.projectDisplay {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.projectDisplay p{
    font-size: 25px;
    font-weight: bold;
    padding-bottom: 20;
}
/*----------------------------------------*/