body{
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
}
/* sets font family and magin*/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
}
/*creates a flex display for all the items in the header (logo and navigation bar)*/

.buttonContainer {
    display: flex;
    flex-direction: row;
}
/* Creates a container using flex */

.button a {
    background-color: #e6e6e6;
    padding: 8px 14px;
    margin-right: 5px;
    margin-left: 5px;
    border-radius: 4px;
    text-decoration: none;
    color: black;
    display: inline-block;
}

article {
    margin-right: 75px;
}
article a {
    font-size: 20px;
}
/*background color sets to gray, gives padding between all elements (text), 
addes a border and removes hyperlink visuals*/

.intro {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-left: 100px;
    margin-right: 100px;
}

.ab {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}
.about {
    padding: 40px 30px;
    border-top: 1px solid #ccc;
}

.projects {
    padding: 40px 30px;
    border-top: 1px solid #ccc;
    text-align: center;
}

.projectDis {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.contacts {
    padding: 40px 30px;
    border-top: 1px solid #ccc;
    display: flex;
    justify-content: space-around;
    gap: 40px;
}