body{
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
}

.navi {
    display: flex;
    gap: 20px;
    list-style: none;
}